@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&family=PT+Sans&family=PT+Sans+Caption&family=PT+Sans+Narrow&display=swap');

$my-purple : #650C3F;
$my-gray :#dfe1e5;
body {
    background-color: #FFF7FF !important;
    font-family: 'Martian Mono', monospace !important;
    font-size: 60%;
}